.aspect-ratio-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: var(--aspect-ratio);

  & > * {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}