/**
 * Main settings
 */
$css-ui-dark-theme-class: "theme--dark" !default;
$css-ui-var-prefix: "" !default;
$css-ui-root-prefix: "g-theme-" !default;

/**
 * Theme colors
 */
$primary-color: #00bcd4 !default;
$secondary-color: #ff9800 !default;
$primary-color--dark: #00bcd4 !default;
$secondary-color--dark: #ff9800 !default;

@forward "@guebbit/css-ui/src/theme" with (
  $color: $primary-color,
  $color--dark: $primary-color--dark,
  $active-color: $secondary-color,
  $active-color--dark: $secondary-color--dark,
);