@use "../../../../vars" as vars;
@use "../../../../../node_modules/@guebbit/css-ui/src/molecules/buttons/IconFocusButton" with (
    $css-ui-dark-theme-class: vars.$css-ui-dark-theme-class,
    $css-ui-var-prefix: vars.$css-ui-var-prefix,
    $css-ui-root-prefix: vars.$css-ui-root-prefix
);